.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 100px;
}

.App-header {
  background-color: #282c34;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
section{
  position: relative;
  z-index: 1;
}
input.new-todo {
    padding: 10px;
    width: 300px;
    text-align: center;
    font-size: 14px;
    color: #222;
    letter-spacing: 1px;
    margin: 10px;
    border: 1px solid #ddd;
}
.ref-list{
      width: 600px;
    margin: 20px auto;
    background: #ddd;
    color: #222;
    padding: 20px;
    overflow: scroll;
    text-align: left;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
